*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background: #8fbfd5;
}

a{
  text-decoration: none;
  color: white;
}

.banner{
  width: 100%;
  height: 30vh;

  background-size: cover;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 30px;
  cursor: pointer;

}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #ffd51c;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}

.form{
  animation: fade-up 650ms 100ms backwards;
  padding-left: 5vh;
  padding-right: 5vh;
  position: absolute;
  left: 35%;
  top: 20%;

  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);


  justify-content:center;

  width: 60vh;
  height: 52vh;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title{

  font-size: 4vh;
  padding-top: 7vh;
  text-shadow: 0.35vh 0.35vh #69828d;

  justify-content: center;
  text-align: center;
  color: white;
}

.upload{
  padding-top: 1vh;
  cursor: pointer;
  width: 20vh;
  height:  4vh;
  padding-bottom: 5vh;
}
.decrp{
  padding-top:3vh;
  padding-bottom: 4vh;
  color: white;
  background: none;
  display: flex;
  justify-content: flex-end;
  text-align: left;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ffd51c;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #cfb224;
}
